<template name="landing">
    <h1 class="title" style="
        position: absolute;
        left: 10%;
        padding-top: 25px;
        right: 10%;
    ">Kak Drivers</h1>
    <img src="/app.png" style="position:fixed; bottom:0; width:100%">
    <div class="background" style="background-image:url('bg.png'); height: 100vh">
        <div class="padding">
            <button class="button button-block" id="login-twitter" style="
            border-color: #4099FF;
            background: hsla(0, 0%, 0%, 0);
            color: #4099FF;
            margin-top: 50%;">
            <i class="icon ion-social-twitter-outline" style="padding-right: 6px;"></i> Login with Twitter</button>
        </div>
    </div>
</template>
