<template name="complaints">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Complaints</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each complaints}}

          {{#ionItem buttonRight=true avatar=true}}

            <img src="http://lorempixel.com/100/100/transport/">
            <h2>{{numberplate}}</h2>
            <p>
              Reported by <b>{{reporter}}</b> - <em>{{showTimeAgo reportedAt}}</em>
            </p>
            <!-- <button class="button button-positive">{{> ionIcon icon="ios-telephone"}}</button> -->

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
