<template name="yourComplaints">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Your Complaints</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="alert('TODO')">Edit</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each complaints}}

          {{#ionItem buttonRight=true avatar=true}}

            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
            <h2>{{numberplate}}</h2>
            <p>
              Reported by <b>{{reporter}}</b> - <em>{{showTimeAgo reportedAt}}</em>
            </p>
            <!-- <button class="button button-positive">{{> ionIcon icon="ios-telephone"}}</button> -->

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
